body{
    margin: 0;
    padding: 0;
    background-color: #464646;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.container{
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

#title{
    text-align: center;
    font-size: 40px;
}

.do{
    color: yellow;
}

.to{
    color: #fff;
}

.list{
    color: palegreen;
}

#inputText{
    width: 250px;
    height: 40px;
    border-radius: 25px 20px;
    border: 1px solid black;
    outline: none;
    font-size: 25px;
    vertical-align: middle;
    border:  3px solid rgb(210, 247, 0);
    background-color: #464646;
    color: #fff;
}

#addToDo{
    height: 43px;
    text-align: center;
    width: 60px;
    border:  2px solid rgb(210, 247, 0);
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border-radius: 10px 5px;
    background-color: #464646;
    color: #fff;
}

#addToDo:hover{
    background-color: rgb(29, 233, 39);
    color: #000000;
    border: 1px solid #fff ;
    transition: 0.8s ;
}

#clearToDo{
    text-align: center;
    height: 43px;
    width: 60px;
    border:  2px solid rgb(210, 247, 0);
    font-size: 20px;
    outline: none;
    cursor: pointer;
    border-radius: 10px 5px;
    background-color: #464646;
    color: #fff;
}


#clearToDo:hover{
    background-color: rgb(242, 4, 4);
    color: #000000;
    border: 1px solid #fff ;
    transition: 0.8s ;
}

.paragraph-styling{
    margin: 10;
    cursor: pointer;
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
}